<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:replace="fragments/head :: default"></head>
	<body>
	
		<div th:replace="fragments/navbar :: default"></div>

		<div class="container">
			<form method="POST" action="#" th:action="@{/file-upload}" th:object="${uploadFileForm}" enctype="multipart/form-data">
			
				<div class="form-group">
					<label for="file">Jar Files:</label>
					<div class="fileinput fileinput-new input-group" data-provides="fileinput">
						<div class="form-control" data-trigger="fileinput">
							<i class="glyphicon glyphicon-file fileinput-exists"></i> 
							<span class="fileinput-filename"></span>
						</div>
						<span class="input-group-addon btn btn-default btn-file">
							<span class="fileinput-new">Select</span>
							<span class="fileinput-exists">Change</span>
							<input type="file" th:field="*{file}" th:required="true"/>
							<span th:if="${#fields.hasErrors('file')}" th:errors="*{file}">File</span>
						</span>
						<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
					</div>
				</div>
				<div class="form-group">
					<label for="mainClass">Main Class:</label>
					<input type="text" class="form-control" th:field="*{mainClass}" th:required="true"/>
					<span th:if="${#fields.hasErrors('mainClass')}" th:errors="*{mainClass}">Main Class</span>					
				</div>
				<div class="form-group">
					<label for="verbose">Main Class:</label>
					<input type="checkbox" class="form-control" th:field="*{verbose}" th:required="true"/>
					<span th:if="${#fields.hasErrors('verbose')}" th:errors="*{verbose}">verbose</span>					
				</div>
						
				<input type="submit" class="btn btn-default" value="Send"/>
			</form>

		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>